<main>
  <div class="container">
    <div class="row">
      <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-10">
        <h2>
          <strong>Fantasy</strong>は幻想的な[イラスト・写真]専用の投稿サイトです！
        </h2>
        <div class="col-6 mx-auto">
          <div class="row">
            <p>この度はFantasyをご利用いただき誠にありがとうございます。
               管理人の〇〇と申します。
               幻想的な写真やイラストが好きでそれを共有したくこのサイトを作成いたしました。
               みなさんがみて感じたことを自由に投稿していただければと思います。
               これから末永くよろしくお願いいたします。
            </p> 
          </div>
        </div>
      </div>
    </div>
  </div>
</main>